<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'treasures/base.html' %}
{% block content %}

<div class="container text-center">
     <p>
        <h3 class="alert alert-success">Please put your correct username and password</h3>
        <form method="POST">
           {% csrf_token %}
           username:<input type="text" name="username">
           password:<input type="password" name="password">
           <input type="submit">
        </form>
     </p>
</div>
{% endblock %}
</body>
</html>